# <center> <font size="+10"> <bold> ETL </bold> </font> </center>

In [1]:
import pandas as pd

# Extract

In [2]:
Airbnb_CDMX_df = pd.read_csv("Resources/AirbnbCDMX.csv")
Airbnb_CDMX_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,14714,Private room c/ bathroom . Colonia Juarez.,57785,Diego,NaN,Cuauhtémoc,19.43035,-99.15511,Private room,478,2,0,NaN,NaN,2,327
1,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,NaN,Cuauhtémoc,19.44076,-99.16324,Private room,1969,1,57,2019-05-27,0.52,9,355
2,33681,Couple of Rooms,145672,Edubiel,NaN,Tlalpan,19.27215,-99.21848,Private room,1740,1,0,NaN,NaN,1,365
3,35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.38399,-99.27335,Entire home/apt,3823,1,0,NaN,NaN,2,363
4,44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,NaN,Cuauhtémoc,19.41006,-99.17645,Private room,1893,1,39,2019-05-02,0.42,10,334

In [3]:
Starbucksdirectory_df = pd.read_csv("Resources/Starbucksdirectory.csv")
Starbucksdirectory_df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [4]:
CP_CDMX_df = pd.read_csv("Resources/CodigosPostales.csv")
CP_CDMX_df.head()

,Código Postal,Estado,Municipio,Ciudad,Tipo de Asentamiento,Asentamiento,Clave de Oficina
0,9830,Ciudad de México,Iztapalapa,Ciudad de México,Colonia,Lomas El Manto,9821
1,9830,Ciudad de México,Iztapalapa,Ciudad de México,Colonia,Los Ángeles,9821
2,9830,Ciudad de México,Iztapalapa,Ciudad de México,Colonia,Paraje San Juan,9821
3,9837,Ciudad de México,Iztapalapa,Ciudad de México,Colonia,San Miguel 8va. Ampliación,9821
4,9838,Ciudad de México,Iztapalapa,Ciudad de México,Colonia,Plan de Iguala,9821